body
{
    background-color: rgba(63, 15, 152, 0.3);
    color: blue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#contenedor
{
    background-color: white;
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#cabecera
{
    background-color: #33a;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #logo
{
    width: 50px;
    vertical-align: middle;
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 1.2em;
}

#contenedor h1
{
    text-align: center;
    font-size: 20px;
}
#contenedor #parrafo2
{
    background-color: #333;
    color: white;
    text-align: center;
    font-weight: bolder;
    padding: 5px 0;
}

#post
{
    margin-top:15px;
    padding: 5px;
    background-color: white;
    border: 3px solid #ddd;
    border-radius: 15px;   
}

#footer_principal
{
    display: flex;
    width: 70%;
    background-color: #1525;
    border: 1px solid gray;
    padding: 1rem;
    margin: 0 auto;
}